.color-img {
    filter: invert(0%) sepia(0%) saturate(20%) hue-rotate(329deg) brightness(105%) contrast(101%);
    max-width: 5vh;
    margin: 1vh;
}


.typeWriter {
    color: var(--main-text);
    width: max-content;
    border-right: .1em solid transparent;
    animation: typing 1s step-end 10;
}

@keyframes typing {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--main-text)
    }
}

.box-shadow {
    box-shadow: .5vw .3vw #94888870;
}

.text-name {
    background-color: #eeeeee;
}


.icono1 {
    opacity: 0;
    animation: animacion1Icono1 1.5s 2s forwards, animacion2Icono1 2s 2.5s forwards infinite linear;
}

@keyframes animacion1Icono1 {
    100% {
        opacity: 1;
        transform: translate(12vw, -5vw);
    }
}

@keyframes animacion2Icono1 {
    33% {
        transform: translate(12vw, -5.5vw);
    }

    66% {
        transform: translate(12vw, -4.5vw);
    }
}

.icono2 {
    opacity: 0;
    animation: animacion1Icono2 1.5s 2s forwards, animacion2Icono2 2s 2.5s forwards infinite linear;
}

@keyframes animacion1Icono2 {
    100% {
        opacity: 1;
        transform: translate(13vw, 5vw);
    }
}

@keyframes animacion2Icono2 {
    33% {
        transform: translate(13vw, 5.5vw);
    }

    66% {
        transform: translate(13vw, 4.5vw);
    }
}

.icono3 {
    opacity: 0;
    animation: animacion1Icono3 1.5s 2s forwards, animacion2Icono3 2s 2.5s forwards infinite linear;
}

@keyframes animacion1Icono3 {
    100% {
        opacity: 1;
        transform: translate(-18vw, 2vw);
    }
}

@keyframes animacion2Icono3 {
    33% {
        transform: translate(-18vw, 2.5vw);
    }

    66% {
        transform: translate(-18vw, 1.5vw);
    }
}

h1 {
    min-height: 200px;
    background-color: #ccc;
    text-align: center;
    line-height: 200px;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}