<!-- <app-contact-me></app-contact-me> -->


<div class='container-fluid bg-dark text-white '>
    <div class='container'>
        <div class='row'>
            <div class='col-6 my-5'>
                <span class='m-0 fs-5'>Made by <em>Luis Rodriguez</em> Open sourced on <a href="http://www.google.com"
                        target='_blank' class='bi bi-github fs-1'></a></span>
            </div>
            <div class='col-6 d-flex justify-content-end my-5'>
                <div class='mx-2'>
                    <i class="bi bi-linkedin" style="font-size: 2rem;"></i>
                </div>
                <div class='mx-2'>
                    <i class="bi bi-github" style="font-size: 2rem;"></i>
                </div>
            </div>
        </div>
    </div>
</div>