<section>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12 bg-light shadow fixed'>
        <app-menu></app-menu>
      </div>

      <div class='col-12 p-0'>
        <div class='background-section1' id='home'>
          <app-section1></app-section1>
        </div>

        <div class='background-section1'>
          <div style="height: 200px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
              <path d="M-4.79,-3.44 C213.03,252.14 349.20,-49.98 505.36,75.50 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: var(--main-text);"></path>
            </svg>
          </div>
        </div>

        <div class='background-section2 overflow-hidden' id='about'>
          <app-section2></app-section2>
        </div>

        <div class='background-section1'>
          <div style="height: 200px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
              <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
                style="stroke: none; fill: var(--main-text);"></path>
            </svg>
          </div>
        </div>

        <div class='background-section1 overflow-hidden' id='proyects'>
          <app-section3></app-section3>
        </div>

        <div id='contact'>
          <app-footer></app-footer>
        </div>

      </div>
    </div>


  </div>
  <app-lang></app-lang>
</section>