<div class='container vh-100'>
    <div class='row align-items-center'>

        <div class='text-center my-5'>
            <p class='fs-1 main-text'>{{'SECTION3.TEXT1' | translate}}</p>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide mt-5" *ngIf="startProyects" data-aos="flip-up"
            data-aos-anchor-placement="bottom-bottom">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button *ngFor="let item of finalProyects; index as i" type="button"
                    data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i+1"
                    attr.aria-label="Slide {{i+1}}"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class='position-relative mx-auto bg-black container-detail'>
                        <img [src]='startProyects.screenshot_url'>
                        <div class='details'>
                            <div class="position-absolute top-50 start-50 translate-middle w-100 text-center">
                                <p class='fs-3'>
                                    {{startProyects.name}}
                                </p>
                                <div class='iconos'>
                                    <span class='mx-3'>
                                        <a [href]="startProyects.ssl_url" target="_blank">
                                            <img src="../../../assets/slider/eye.png">
                                        </a>
                                    </span>
                                    <span class='mx-3' *ngIf="startProyects.build_settings.repo_url">
                                        <a [href]="startProyects.build_settings.repo_url" target="_blank">
                                            <img src="../../../assets/slider/github.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="carousel-item" *ngFor="let item of finalProyects">
                    <div class='position-relative mx-auto bg-black container-detail'>
                        <img *ngIf="item.screenshot_url !== null;else content" [src]="item.screenshot_url">
                        <ng-template #content><img src="../../../assets/slider/not-found.png" class='mx-auto d-block'
                                style='width: 100vmin; height: 60vmin;'></ng-template>
                        <div class="details">
                            <div class="position-absolute top-50 start-50 translate-middle w-100 text-center">
                                <p class='fs-3'>
                                    {{item.name}}
                                </p>
                                <div class='iconos'>
                                    <span class='mx-3'>
                                        <a [href]="item.ssl_url" target="_blank">
                                            <img src="../../../assets/slider/eye.png">
                                        </a>
                                    </span>
                                    <span class='mx-3' *ngIf="item.build_settings.repo_url">
                                        <a [href]="item.build_settings.repo_url" target="_blank">
                                            <img src="../../../assets/slider/github.png">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev m-auto" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev" style='height: 100px'>
                <!-- <span class='main-text'>Previous</span> -->
                <span class="carousel-control-prev-icon color-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next m-auto" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next" style='height: 100px'>
                <span class="carousel-control-next-icon color-icon" aria-hidden="true"></span>
                <!-- <span class='main-text'>Next</span> -->
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </div>
</div>